<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>familyRelationshipCertificate</title>
</head>
<body>
<table>
    <tr>
        <th>증명타입</th>
        <th>발급일</th>
        <th>증명서확인번호</th>
        <th>등록기준지(본적)</th>
    </tr>
    <tr>
        <td>가족관계증명서</td>
        <td th:text="${top.issueDate}"></td>
        <td th:text="${top.confirmationNumber}"></td>
        <td th:text="${top.registrationBaseAddress}"></td>
    </tr>
</table>
<table>
    <tr>
        <th>구분</th>
        <th>성명</th>
        <th>출생연월일</th>
        <th>주민등록번호</th>
        <th>성별</th>
    </tr>
    <tr th:each="composition : ${bottom}">
        <td th:text="${composition.relationshipCode}"></td>
        <td th:text="${composition.name}"></td>
        <td th:text="${composition.birthDate}"></td>
        <td th:text="${composition.registrationNumber}"></td>
        <td th:text="${composition.genderCode}"></td>
    </tr>
</table>
</body>
</html>