<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>residentRegistration</title>
</head>
<body>
<table>
    <tr>
        <th>증명타입</th>
        <th>세대주이름</th>
        <th>세대구성사유</th>
        <th>세대구성일자</th>
    </tr>
    <tr>
        <td>주민등록등본</td>
        <td th:text="${top.name}"></td>
        <td th:text="${top.compositionReasonCode}"></td>
        <td th:text="${top.compositionDate}"></td>
    </tr>
</table>
<table>
    <tr>
        <th>최종주소여부</th>
        <th>전입주소</th>
        <th>전입신고일자</th>
    </tr>
    <tr th:each="movementAddress : ${movementAddresses}">
        <td th:text="${movementAddress.lastAddressYn}"></td>
        <td th:text="${movementAddress.address}"></td>
        <td th:text="${movementAddress.pkReportDate}"></td>
    </tr>
</table>
<table>
    <tr>
        <th>세대주관계</th>
        <th>성명</th>
        <th>주민등록번호</th>
        <th>신고일</th>
        <th>변동사유</th>
    </tr>
    <tr th:each="composition : ${compositions}">
        <td th:text="${composition.relationshipCode}"></td>
        <td th:text="${composition.residentName}"></td>
        <td th:text="${composition.residentRegistrationNumber}"></td>
        <td th:text="${composition.reportDate}"></td>
        <td th:text="${composition.changeReason}"></td>
    </tr>
</table>
</body>
</html>