<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>residentList</title>
</head>
<body>
<table>
    <tr>
        <th>주민일련번호</th>
        <th>성명</th>
        <th>성별코드</th>
        <th>출생일시</th>
        <th>가족관계증명서</th>
        <th>주민등록등본</th>
        <th>출생신고서</th>
        <th>사망신고서</th>
        <th>증명서발급목록</th>
        <th>삭제</th>
    </tr>
    <tr th:each="resident : ${residents}">
        <td th:text="${resident.serialNumber}"></td>
        <td th:text="${resident.name}"></td>
        <td th:text="${resident.genderCode}"></td>
        <td th:text="${resident.birthDate}"></td>
        <td><a th:href="@{|/residents/${resident.serialNumber}/familyRelationshipCertificate|}">조회</a></td>
        <td><a th:href="@{|/residents/${resident.serialNumber}/residentRegistration|}">조회</a></td>
        <td><a th:if="${resident.birthCode} != null" th:href="@{|/residents/${resident.serialNumber}/birthReport|}">조회</a></td>
        <td><a th:if="${resident.deathCode} != null" th:href="@{|/residents/${resident.serialNumber}/deathReport|}">조회</a></td>
        <td><a th:href="@{|/residents/${resident.serialNumber}/certificateIssue|}">조회</a></td>
        <td><a th:href="@{|/residents/${resident.serialNumber}/delete|}">삭제</a></td>
    </tr>
</table><br/>

Page
<span th:if="${residents.totalPages > 0}"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/residents(size=${residents.size}, page=${pageNumber})}"
       th:text="${pageNumber + 1}"></a>
</span>
</body>
</html>